<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min (3).css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="container ">
        {%if messages%}
            {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endfor%}
        {%endif%}
        <div class="row">
            <div class="col-3">
                
            </div>
            <div class="col-6 p-2 my-1 border border-3 px-5">
                <img src="{%static 'image/undraw_secure_login_pdn4.png' %}" width="300px" alt="" class="ms-5">
                <h3 class="text-center text-light mt-3">Login!</h3>
                <form  action="" method="post">
                    {%csrf_token%}
                    {{form}}
                    <button class="btn btn-primary form-control my-1" type="submit">Login</button>
                    <p class="text-secondary">Dont't have an account</p>
                    <a href="{%url 'sign-in'%}" class="btn btn-success mb-3">Create new Account</a>
                    
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    
</body>
</html>